:root {
  background-color: rgb(44, 44, 44);
  
  color: antiquewhite;
}

main{   font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  
  color: rgba(255, 255, 255, 0.87);
  background-color: rgb(44, 44, 44);}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;

  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.card {}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

}

.loginbuttons {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

.loginbuttons:hover {
  border-color: #646cff;
}

.loginbuttons:focus,
.loginbuttons:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

.color-picker {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 300px;
  height: 20px;
  margin: 3px 0;
  position: relative;
  left: 0px;
  padding-bottom: 2px;
}

.color-picker-square {
  width: 20px;
  height: 20px;
  margin-left: 1px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 2px;
}

.color-picker-square.selected {
  border: 1px solid #000;
  box-shadow: rgba(246, 247, 248, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  box-sizing: border-box;
}

.users-list {
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  color: rgba(6, 24, 44, 0.65);
  padding-left: 20px;
  font-weight: 500;
  border-radius: 3px;
  padding-bottom: 20px;
  padding-top: 1px;
  width: 400px
}

.users-list-ul {
  list-style: none;
  counter-reset: my-awesome-counter;
  float: none;
  padding-left: 0;

}

.users-list-ul li {
  counter-increment: my-awesome-counter;
  list-style-position: outside;
  border-style: solid;
  border-width: thin;
  border-radius: 5px;
  margin-bottom: 2px;
  width: 300px;
  background-color: #f9f9f9;
  padding: 3px;
  text-indent: 0.2em;
}

.users-list-ul li::before {
  content: counter(my-awesome-counter) ". ";
  color: red;
  font-weight: bold;
}

.signedin {
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  width: fit-content;
  padding: 5px;
  border-radius: 3px;
  color: rgb(255, 255, 255)
}

.tooltip {
  position: fixed;
  pointer-events: none;
  /* Add additional styles for the tooltip as needed */
  background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
 background-blend-mode: multiply;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 0;
  border: 1px solid rgb(102, 102, 102);
  border-radius: 3px;
  color: rgb(253, 253, 253);
  opacity: 0.92;
}
.tooltip p {
  margin: 0;
}